{% extends "base.html" %}
{% load bootstrap4 %}

{% block body_scripts %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
            integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
    <script>
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var rawData = {{ execution|safe }};

        var datasets = rawData.solutions.map(function (value) {
            var data = value.solutionQuality.split(/\s+/);
            var label = value.algorithmName;
            var randomColor = getRandomColor();
            return {
                label: label,
                backgroundColor: randomColor,
                borderColor: randomColor,
                data: data,
                fill: false
            }
        });

        var config = {
            type: 'line',
            data: {
                labels: {{ objectives|safe }},
                datasets: datasets
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('chart').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };
    </script>
{% endblock %}

{% block content_app %}

    <div class="container">
        <h1 class="mb-5">Request Detail for '<a href="{% url 'request_details' configuration.id %}">{{ configuration.problemName }}</a>'</h1>

        <div class="main">
            <div class="row mb-5">
                <div class="col-sm">
                    {{ configuration.description }}
                </div>
            </div>

            <canvas id="chart" class="Graph"></canvas>

        </div>
    </div>



{% endblock %}

