{% extends "base.html" %}
{% load parse_date %}
{% block title %}Execution history{% endblock %}

{% block body_scripts %}
    {% load static %}
    <script src="{% static "JS/HistoryTableFilters.js" %}" defer></script>
{% endblock %}
{% block content_app %}

    <div class="container">
        <h1>Execution history</h1>

        <div class="panel panel-primary filterable mt-5">
            <table class="table table-striped table-bordered text-center">
                <thead>
                <tr class="filters">
                    <th><input type="text" onkeyup="myFunction()" class="form-control" placeholder="Problem Name"></th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <th scope="col">Problem Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableDiv">
                {% for execution in executions %}
                    <tr class="align-middle">
                        <th class="align-middle" scope="row">{{ execution.problemName }}</th>
                        <td class="align-middle">{{ execution.startDate|parse_date|date:'Y-m-d \a\t H:i:s' }}</td>
                        <td class="align-middle">{{ execution.endDate|parse_date|date:'Y-m-d \a\t H:i:s' }}</td>
                        <td class="align-middle"><a href="{% url 'history_details' execution.id %}" class="btn btn-primary">Open</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
