{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Configuration: Step 2{% endblock %}

{% block body_scripts %}
    {% load static %}
    <script src="{% static "JS/form2.js" %}" defer></script>
{% endblock %}

{% block content_app %}

    <div class="container">
        <h1>Optimization configuration: Step 2</h1>

        <form action class="mt-5" method="post" enctype="multipart/form-data">
            {% include 'messages.html' %}
            {% csrf_token %}
            {% bootstrap_form form %}
            <a class="btn btn-primary" href="{% url 'form_page1' %}">Back</a>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>

{% endblock %}

