{% extends   "base.html" %}
{% load bootstrap4 %}
{% block title %}My configurations{% endblock %}

{% block body_scripts %}
    {% load static %}
    <script src="{% static "JS/CreateConfigurationsTableFromJSON.js" %}" defer></script>
    <script src="{% static "JS/HistoryTableFilters.js" %}" defer></script>
    <script>
        window.SESSION_EMAIL = '{{ user_email }}';
    </script>
{% endblock %}
{% block content_app %}

    <div class="container">
        <h1>My configurations</h1>

        <div class="panel panel-primary filterable mt-5">
            <table class="table table-striped table-bordered text-center">
                <thead>
                <tr class="filters">
                    <th><input type="text" onkeyup="myFunction()" class="form-control" placeholder="Configuration Name"
                               enabled></th>
                    <th><input type="text" onkeyup="myFunction()" class="form-control" placeholder="Description"
                               enabled></th>
                    <th><input type="date" onkeyup="myFunction()" class="form-control"
                               placeholder="Date (dd-mm-yyyy)"></th>
                    <th colspan="2" class="text-center">
                        <button class="btn btn-primary">
                            <span class="oi oi-x"></span>
                            Reset filter
                        </button>
                    </th>
                </tr>
                <tr>
                    <th scope="col">Configuration Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableDiv">
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
